
<div class="{{viewport_class}}"" 
     style="width:{{width}}px; 
					  height: {{height}}px;  
					  left: {{left}}%; 
					  top: {{top}}%">
</div>

<div class="mini-nodes-container" style="width: 100px; height: 100px">

</div>


