<div class='children'></div>
<div class='inner-node'>
  <div class='content {{#if isHTML}}isHTML{{/if}}'>{{#if isHTML}}{{{nodeText}}}{{else}}{{nodeText}}{{/if}}</div>
  {{#if foldable}}
    <div class='action-fold collapse-icon'>
      <img class='action-fold-all' src="{{minusIcon}}">
    </div>
    <div class='action-fold expand-icon invisible'>
      <img class='action-fold-all' src="{{plusIcon}}">
    </div>
  {{/if}} 
</div>